<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div class="container">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <a class="btn btn-outline-primary">Mostrar/ocultar</a>
        </div>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
    </div>
</div>