<div class="container">
  <h2>Examen Angular 2ª Evaluación</h2>
  <div class="row">
    <div class="col-md-4"><label for="selPais"><strong>Pais</strong></label><select class="form-control" id="selPais"
        name="selPais">
        <option value="0">-- Seleccione un país --</option>º
        <!---->
        <option value="España">España</option>
        <option value="Francia">Francia</option>
        <option value="USA">USA</option>
      </select></div>
    <div class="col-md-4"><label for="selProvincia"><strong>Provincia o Estado</strong></label><select
        class="form-control" id="selProvincia" name="selProvincia">
        <option value="0">-- Seleccione un estado o provincia --</option>
        <!---->
        <option  value="Andalucía">Andalucía</option>
        <option value="Canarias">Canarias</option>
        <option value="Euskadi">Euskadi</option>
      </select></div>
    <div class="col-md-4 mb-5"><label for="selCiudad"><strong>Ciudad</strong></label><select class="form-control"
        id="selCiudad" name="selCiudad">
        <option value="0">-- Seleccione una ciudad --</option>
        <!---->
        <option value="Arrecife">Arrecife</option>
        <option value="Las Palmas">Las Palmas</option>
        <option value="Puerto del Rosario">Puerto del Rosario</option>
      </select></div>
  </div>
</div><br>
<div class="container" id="mensaje" hidden=""><br>Has nacido en <b>España</b>, provincia/estado de
  <b>Andalucía</b>, en la ciudad de <b>Córdoba</b><br><br></div>
<script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script>
<script type="text/javascript" src="polyfills.3bfd66addbd0d2814591.js"></script>
<script type="text/javascript" src="scripts.a359d42dd54630893562.js"></script>
<script type="text/javascript" src="main.33ceaf5ade2e2a55362b.js"></script>
